<div class="wrapper">

    <div class="header">
        <button routerLink="">Back to Assembly...</button>
        <marquee>Custom Parts Manufacture</marquee>
        <p>Pick a Manufacturer and Part Type to get started.</p>
    </div>

    <div class="header">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="manufacturerMenu">Select Manufacturer</button>
        <button [disabled]="!tempPart.manufacturer" mat-raised-button color="primary" [matMenuTriggerFor]="modelMenu">Select Model</button>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="typeMenu">Select Type</button>
        <span *ngIf="tempPart.manufacturer">{{tempPart.manufacturer}} |</span>
        <span *ngIf="tempPart.manufacturer">{{tempPart.model}} |</span>
        <span *ngIf="tempPart.type">{{getTitleForPart(tempPart.type)}}</span>
    </div>

    <div *ngIf="tempPart.type && tempPart.manufacturer" class="section">
        <p>Priority by Percentage:</p>
        <div *ngFor="let prop of sliderValues | keyvalue" class="sliderable-value">
            <p>{{prop.key}}: {{prop.value}}</p>
            <mat-slider thumbLabel [(ngModel)]="prop.value" [max]="maxPoints" (change)="calculatePoints($event, prop.key)"></mat-slider>
        </div>
        <div class="sliderable-value" *ngIf="tempPart.type == 'head'">
            <p>Head Options Dropdown</p>
            <button [mat-menu-trigger-for]="headMenu" mat-flat-button color="primary">Choose One...</button>
        </div>
        <div class="sliderable-value" *ngIf="tempPart.type == 'core'">
            <p>Core Options Dropdown</p>
            <button [mat-menu-trigger-for]="coreMenu" mat-flat-button color="primary">Choose One...</button>
        </div>
        <div class="sliderable-value" *ngIf="tempPart.type == 'rarm'">
            <p>Right Arm Options Dropdown</p>
            <button [mat-menu-trigger-for]="rarmMenu" mat-flat-button color="primary">Choose One...</button>
        </div>
        <div class="sliderable-value" *ngIf="tempPart.type == 'larm'">
            <p>Left Arm Options Dropdown</p>
            <button [mat-menu-trigger-for]="larmMenu" mat-flat-button color="primary">Choose One...</button>
        </div>
        <div class="sliderable-value" *ngIf="tempPart.type == 'legs'">
            <p>Legs Options Dropdown</p>
            <button [mat-menu-trigger-for]="legsMenu" mat-flat-button color="primary">Choose One...</button>
        </div>
        <div class="sliderable-value" *ngIf="tempPart.type == 'rshoulder'">
            <p>Right Shoulder Options Dropdown</p>
            <button [mat-menu-trigger-for]="rshoulderMenu" mat-flat-button color="primary">Choose One...</button>
        </div>
        <div class="sliderable-value" *ngIf="tempPart.type == 'lshoulder'">
            <p>Left Shoulder Options Dropdown</p>
            <button [mat-menu-trigger-for]="lshoulderMenu" mat-flat-button color="primary">Choose One...</button>
        </div>
    </div>
    
    <div *ngIf="tempPart.type && tempPart.manufacturer" class="section">
        <p>Type: {{getTitleForPart(tempPart.type)}}</p>
        <p>Manufacturer: {{tempPart.manufacturer}}</p>
        <p>Weight: {{tempPart.weight}}</p>
    </div>
    
    <div *ngIf="tempPart.type && tempPart.manufacturer" class="section">
        <p>Remaining Points: {{remainingPoints}}</p>
        <progress [value]="remainingPoints" [max]="maxPoints"></progress>
        <button mat-raised-button *ngIf="remainingPoints == 0" (click)="mockUp()">Mock Up Design</button>
    </div>

    <div *ngIf="mockUpReady" class="header">
        MOCKUP!
    </div>
    
</div>

<mat-menu #typeMenu="matMenu">
    <button *ngFor="let type of partsService.partTypes" mat-menu-item (click)="pickPartType(type)">{{getTitleForPart(type)}}</button>
</mat-menu>

<mat-menu #manufacturerMenu="matMenu">
    <button *ngFor="let manufacturer of partsService.manufacturers" mat-menu-item (click)="pickManufacturer(manufacturer)">{{manufacturer.name}}</button>
</mat-menu>

<mat-menu #modelMenu="matMenu">
    <div *ngIf="tempPart.manufacturer.name == 'Avionissimo'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[0].models">{{model.name}}</button>
    </div>
    <div *ngIf="tempPart.manufacturer.name == 'Corgistics'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[1].models">{{model.name}}</button>
    </div>
    <div *ngIf="tempPart.manufacturer.name == 'Fleetwood Marine'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[2].models">{{model.name}}</button>
    </div>
    <div *ngIf="tempPart.manufacturer.name == 'GAZAN'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[3].models">{{model.name}}</button>
    </div>
    <div *ngIf="tempPart.manufacturer.name == 'Mantissa'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[4].models">{{model.name}}</button>
    </div>
    <div *ngIf="tempPart.manufacturer.name == 'Vincente'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[5].models">{{model.name}}</button>
    </div>
    <div *ngIf="tempPart.manufacturer.name == 'Yamashita'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[6].models">{{model.name}}</button>
    </div>
    <div *ngIf="tempPart.manufacturer.name == 'Yantian Industrial'">
        <button mat-menu-item *ngFor="let model of partsService.manufacturers[7].models">{{model.name}}</button>
    </div>
</mat-menu>

<mat-menu #headMenu="matMenu">
    <button mat-menu-item>0000</button>
    <button mat-menu-item>0000</button>
    <button mat-menu-item>0000</button>
    <button mat-menu-item>0000</button>
</mat-menu>

<mat-menu #coreMenu="matMenu">
    <button mat-menu-item>1111</button>
    <button mat-menu-item>1111</button>
    <button mat-menu-item>1111</button>
    <button mat-menu-item>1111</button>
</mat-menu>

<mat-menu #rarmMenu="matMenu">
    <button mat-menu-item>2222</button>
    <button mat-menu-item>2222</button>
    <button mat-menu-item>2222</button>
    <button mat-menu-item>2222</button>
</mat-menu>

<mat-menu #larmMenu="matMenu">
    <button mat-menu-item>3333</button>
    <button mat-menu-item>3333</button>
    <button mat-menu-item>3333</button>
    <button mat-menu-item>3333</button>
</mat-menu>

<mat-menu #legsMenu="matMenu">
    <button mat-menu-item>5555</button>
    <button mat-menu-item>5555</button>
    <button mat-menu-item>5555</button>
    <button mat-menu-item>5555</button>
</mat-menu>

<mat-menu #rshoulderMenu="matMenu">
    <button mat-menu-item>6666</button>
    <button mat-menu-item>6666</button>
    <button mat-menu-item>6666</button>
    <button mat-menu-item>6666</button>
</mat-menu>

<mat-menu #lshoulderMenu="matMenu">
    <button mat-menu-item>7777</button>
    <button mat-menu-item>7777</button>
    <button mat-menu-item>7777</button>
    <button mat-menu-item>7777</button>
</mat-menu>