<div class="wrapper">

    <div class="header">
        <a routerLink="">Back to Assembly...</a>
        <marquee>Custom Parts Manufacture</marquee>
    </div>

    <div class="header">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="manufacturerMenu">Select Manufacturer</button>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="typeMenu">Select Type</button>
        <span *ngIf="tempPart.manufacturer">{{tempPart.manufacturer}} |</span>
        <span *ngIf="tempPart.type">{{getTitleForPart(tempPart.type)}}</span>
    </div>

    <div *ngIf="tempPart.type && tempPart.manufacturer" class="section-title">
        <p>Priority by Percentage:</p>
        <div *ngFor="let prop of sliderValues | keyvalue" class="sliderable-value">
            <p>{{prop.key}}: {{prop.value}}</p>
            <mat-slider thumbLabel [(ngModel)]="prop.value" [max]="maxPoints" (change)="calculatePoints($event, prop.key)"></mat-slider>
        </div>
    </div>
    
    <div *ngIf="tempPart.type && tempPart.manufacturer" class="section-title">
        <p>Type: {{getTitleForPart(tempPart.type)}}</p>
        <p>Manufacturer: {{tempPart.manufacturer}}</p>
        <p>Weight: {{determinedValues.baseWeight * determinedValues.weightMultiplier}}</p>
        <!-- <p>Description: {{tempPart.description}}</p> -->
        <!-- <p>Armor Value: {{tempPart.armorValue}}</p> -->
    </div>
    
    <div *ngIf="tempPart.type && tempPart.manufacturer" class="section-title">
        <p>Remaining Points: {{remainingPoints}}</p>
        <progress [value]="remainingPoints" [max]="maxPoints"></progress>
        <button mat-raised-button *ngIf="remainingPoints == 0" (click)="mockUp()">Mock Up Design</button>
    </div>

    <div *ngIf="mockUpReady" class="header">
        MOCKUP!
    </div>
    
</div>

<mat-menu #typeMenu="matMenu">
    <button mat-menu-item (click)="pickPartType('head')">Head</button>
    <button mat-menu-item (click)="pickPartType('core')">Core</button>
    <button mat-menu-item (click)="pickPartType('larm')">Left Arm</button>
    <button mat-menu-item (click)="pickPartType('rarm')">Right Arm</button>
    <button mat-menu-item (click)="pickPartType('legs')">Legs</button>
    <button mat-menu-item (click)="pickPartType('misc')">Shoulder Weapon</button>
</mat-menu>

<mat-menu #manufacturerMenu="matMenu">
    <button mat-menu-item (click)="pickManufacturer('San Ysidro')">San Ysidro</button>
    <button mat-menu-item (click)="pickManufacturer('Yantian Mechanics Concern')">Yantian Concern</button>
    <button mat-menu-item (click)="pickManufacturer('Corcellyx')">Corcellyx</button>
</mat-menu>