<div class="wrapper" cdkDropListGroup>

  <div class="header"><marquee>Mech Shop</marquee></div>

  <div class="container">
    <div id="inactivePartsElement" cdkDropList [cdkDropListData]="inactiveParts" class="list" (cdkDropListDropped)="drop($event)">
      <button (click)="inactivePartFilter = ''">All</button>
      <button (click)="inactivePartFilter = 'sensor'">Heads</button>
      <button (click)="inactivePartFilter = 'core'">Cores</button>
      <button (click)="inactivePartFilter = 'arm'">Arms</button>
      <button (click)="inactivePartFilter = 'leg'">Legs</button>
      <button (click)="inactivePartFilter = 'misc'">Misc</button>
        <div cdkDrag *ngFor="let part of inactiveParts" [class]="'box' + ' ' + part.quality" (mouseover)="hoverToCompare(part)">
          <img class="icon" [src]="getImagePath(part.type)">
          <p>{{part.name}}</p>
          <p>{{part.weight}}kgs</p>
          <p *ngIf="part.powerProduction" style="color: green">{{part.powerProduction}}kw</p>
          <p *ngIf="!part.powerProduction" style="color: red">{{part.powerConsumption}}kw</p>
          <p>${{part.cost}}</p>
        </div>
    </div>
  </div>

  <div class="container">
    <div id="activePartsElement" cdkDropList [cdkDropListData]="activeParts" class="list" (cdkDropListDropped)="drop($event)">
      <div [class]="'box ' + part.quality" *ngFor="let part of activeParts" cdkDrag>
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="stats">
      <p>Total Mech Value: </p>
      <hr>
      <p>Power Production: </p>
      <p>Power Consumption: </p>
      <hr>
      <p>Weight: </p>
      <hr>
      <p>Head Armor: </p>
      <p>Core Armor: </p>
      <p>L Arm Armor: </p>
      <p>R Arm Armor: </p>
      <p>Leg Armor: </p>
      <hr>
      <p>R Arm Weapon:</p>
      <p>L Arm Weapon:</p>
      <p>Additional Weapon:</p>
      <p>Additional Weapon:</p>
    </div>
  </div>

  <div class="container">
    <div class="stats">1</div>
  </div>

  <div class="container">
    <div class="stats">
      <b>Active and Hover Parts</b>
    </div>
    <!-- <div id="activePartsElement" cdkDropList [cdkDropListData]="activeParts" class="list" (cdkDropListDropped)="drop($event)">
      <div [class]="'box ' + part.quality" *ngFor="let part of activeAndHoverParts" cdkDrag>
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
      </div>
    </div> -->
  </div>

  <div class="container">
    <div class="stats">
      <button [disabled]="!isMechaComplete()" mat-raised-button color="primary">Ready!</button>
      <p *ngIf="!isMechaComplete()" style="color: red;">INCOMPLETE BUILD</p>
    </div>
  </div>
  
</div>