<div class="wrapper" cdkDropListGroup>
  <div class="container">
    <h2>Parts</h2>
    <button>Sort By...</button>
    <div id="inactivePartsElement" cdkDropList [cdkDropListData]="inactiveParts" class="list" (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let part of inactiveParts" cdkDrag>
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
        <p>{{part.weight}} kgs</p>
        <p>{{part.powerConsumption}} kw</p>
        <p>{{part.description}}</p>
        <p *ngIf="part.powerProduction">{{part.powerProduction}} kw</p>
        <p>${{part.cost}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Doll</h2>
    <button>Clear All</button>
    <div id="activePartsElement" cdkDropList [cdkDropListData]="activeParts" class="list" (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let part of activeParts" cdkDrag>
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
        <p>{{part.weight}} kgs</p>
        <p>{{part.powerConsumption}} kw</p>
        <p>{{part.description}}</p>
        <p *ngIf="part.powerProduction">{{part.powerProduction}} kw</p>
        <p>${{part.cost}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Stats</h2>
    <button>Switch View</button>{{errorMessage}}
    <div class="stats">
      <p>Power Production: {{getTotalPowerProduction()}}</p>
      <p>Power Consumption: {{getTotalPowerConsumption()}}</p>
      <p>Net Power: {{getTotalPowerProduction() - getTotalPowerConsumption()}}</p>
      <p>Weight: {{getTotalWeight()}}</p>
    </div>
  </div>
</div>