* {
    font-family: monospace;
}

button {
  margin: 5px 0px 10px 0px;
}

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container {
    display: inline-block;
    vertical-align: top;
    min-width: 400px;
    min-height: 400px;
    margin: 5px;
}

.list {
    border: solid 1px #ccc;
    min-height: 400px;
    background: white;
    border-radius: 4px;
    overflow: hidden;    
    .box {
      .icon {
        width: 60px;
        height: 60px;
      }
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        min-height: 100px;
        margin: 5px;
        padding: 20px 10px;
        border: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        box-sizing: border-box;
        cursor: move;
        background: white;
    }
}

.stats {
    border: solid 1px #ccc;
    min-height: 400px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.cdk-drag-preview {
  .icon {
    width: 60px;
    height: 60px;
  }
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    min-height: 100px;
    margin: 5px;
    padding: 20px 10px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    background: white;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(1.000, -0.355, 0.000, 1.405);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(1.000, -0.355, 0.000, 1.405);
  }