<div class="wrapper" cdkDropListGroup>

  <div class="header">Mech Shop</div>

  <div class="container">
    <div id="inactivePartsElement" cdkDropList [cdkDropListData]="inactiveParts" class="list" (cdkDropListDropped)="drop($event)">
      <ng-component></ng-component>
      <div [class]="'box' + ' ' + part.quality" *ngFor="let part of inactiveParts" cdkDrag>
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
        <p>{{part.weight}}kgs</p>
        <p *ngIf="part.powerProduction" style="color: green">{{part.powerProduction}}kw</p>
        <p *ngIf="!part.powerProduction" style="color: red">{{part.powerConsumption}}kw</p>
        <p>${{part.cost}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="activePartsElement" cdkDropList [cdkDropListData]="activeParts" class="list" (cdkDropListDropped)="drop($event)">
      <div [class]="'box ' + part.quality" *ngFor="let part of activeParts" cdkDrag>
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="stats">
      <button mat-raised-button color="primary">Switch View</button>
      <button [disabled]="!isMechaComplete()" mat-raised-button color="primary">Ready!</button>
      <p *ngIf="!isMechaComplete()" style="color: red;">INCOMPLETE BUILD</p>
      <p>Power Production: {{getTotalPowerProduction()}}</p>
      <p>Power Consumption: {{getTotalPowerConsumption()}}</p>
      <p>Net Power: {{getTotalPowerProduction() - getTotalPowerConsumption()}}</p>
      <p>Weight: {{getTotalWeight()}}</p>
    </div>
  </div>

  <div class="container">
    <div class="stats"></div>
  </div>
  <div class="container">
    <div class="stats"></div>
  </div>
  <div class="container">
    <div class="stats"></div>
  </div>
  
</div>