* {
    font-family: 'Calibri';
}

button {
    margin: 5px 0px 10px 5px;
}
  
hr {
    margin: 10px 0 10px;
    border: none;
    width: 100%;
    background-color: white;
    height: 1px;
}

mat-slider, progress {
    width: 90%;
}

tr.mat-header-row {
    height: 10px;
}

::ng-deep.tr.mat-row {
    height: 5px;
}

::ng-deep.mat-menu-content {
    overflow: hidden!important;
}
  
.wrapper {
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
}

.header {
    margin: 5px;
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    grid-column: 1/4;

    input, span {
        margin: 5px;
        height: 24px;
    }
}

table {
    width: 100%;
}

.mat-column-name {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-scout {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-light {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-medium {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-heavy {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-superheavy {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-industryRating {
    width: 5%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-class {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-description {
    width: 20%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}

.a1 { background-color: rgba(255, 0, 0, 0.1);}
.a2 { background-color: rgba(255, 166, 0, 0.1);}
.a3 { background-color: rgba(255, 255, 0, 0.1);}
.a4 { background-color: rgba(0, 128, 0, 0.1);}
.a5 { background-color: rgba(0, 0, 255, 0.1);}
