* {
    font-family: 'Calibri';
}
  
button {
    margin: 5px 0px 10px 5px;
}
  
hr {
    margin: 10px 0 10px;
    border: none;
    width: 100%;
    background-color: white;
    height: 1px;
}

mat-slider, progress {
    width: 90%;
}

::ng-deep.mat-menu-content {
    overflow: hidden!important;
}
  
.wrapper {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
}

.header {
    margin: 5px;
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    grid-column: 1/4;

    input, span {
        margin: 5px;
        height: 24px;
    }
}

table {
    width: 100%;
}

.mat-column-name {
    width: 20%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-light {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-medium {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}
.mat-column-heavy {
    width: 10%;
    border-right: 1px solid #e0e0e0;
    padding: 10px;
}