<div class="wrapper" cdkDropListGroup>

  <div class="header">
    <marquee>Mech Shop</marquee>
  </div>

  <div class="container">
    <div id="inactivePartsElement" cdkDropList [cdkDropListData]="partsService.inactiveParts" class="list"
      (cdkDropListDropped)="partsService.drop($event); anvilHit.play()">

      <button (click)="partsService.inactivePartFilter = null ">All</button>
      <button (click)="partsService.inactivePartFilter = 777 ">Heads</button>
      <button (click)="partsService.inactivePartFilter = 778 ">Cores</button>
      <button (click)="partsService.inactivePartFilter = 779 ">L Arms</button>
      <button (click)="partsService.inactivePartFilter = 780 ">R Arms</button>
      <button (click)="partsService.inactivePartFilter = 781 ">Legs</button>
      <button (click)="partsService.inactivePartFilter = 782 ">L Shoulders</button>
      <button (click)="partsService.inactivePartFilter = 783 ">R Shoulders</button>
      <button (click)="partsService.inactivePartFilter = 784 ">Slot Items</button>

      <div *ngFor="let part of partsService.inactiveParts"
        [class]="'box' + ' a' + part.quality + ' ' + (partsService.inactivePartFilter && part.type != partsService.inactivePartFilter && 'disabled')"
        (mouseenter)="partsService.hoverToCompare(part)" 
        (mouseleave)="partsService.hoverClear()" cdkDrag
        (click)="toolTip(part)"
      >
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
        <p>{{part.weight}}kgs</p>
        <p *ngIf="part.powerConsumption < 0" style="color: green">{{part.powerConsumption}}kw</p>
        <p *ngIf="part.powerConsumption > 0" style="color: red">{{part.powerConsumption}}kw</p>
        <p>{{part.cost.toFixed(0)}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="activePartsElement" cdkDropList [cdkDropListData]="partsService.activeParts" class="list"
      (cdkDropListDropped)="partsService.drop($event); anvilHit.play()">
      <div [class]="'box ' + ' a' + part.quality" *ngFor="let part of partsService.activeParts" cdkDrag>
        <img class="icon" [src]="getImagePath(part.type)">
        <p>{{part.name}}</p>
        <p>{{part.weight}}kgs</p>
        <p *ngIf="part.powerConsumption < 0" style="color: green">{{part.powerConsumption}}kw</p>
        <p *ngIf="part.powerConsumption > 0" style="color: red">{{part.powerConsumption}}kw</p>
        <p>{{part.cost.toFixed(0)}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="stats">
      <p>
        Total Mech Value: {{partsService.getTotalMechValue(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getTotalMechValue(false) > partsService.getTotalMechValue(true), 'blue-text': partsService.getTotalMechValue(false) < partsService.getTotalMechValue(true)} ">
          > {{partsService.getTotalMechValue(true).toFixed(0)}}
        </span>
      </p>
      <hr>
      <p>
        Power Consumption: {{partsService.getTotalPowerConsumption(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getTotalPowerConsumption(false) < partsService.getTotalPowerConsumption(true), 'blue-text': partsService.getTotalPowerConsumption(false) > partsService.getTotalPowerConsumption(true)} ">
          > {{partsService.getTotalPowerConsumption(true).toFixed(0)}}
        </span>
      </p>
      <hr>
      <p>
        Total Weight: {{partsService.getTotalWeight(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getTotalWeight(false) < partsService.getTotalWeight(true), 'blue-text': partsService.getTotalWeight(false) > partsService.getTotalWeight(true)} ">
          > {{partsService.getTotalWeight(true).toFixed(0)}}
        </span>
      </p>
      <p class="sub">
        Stability: {{partsService.getStability(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getStability(false) > partsService.getStability(true), 'blue-text': partsService.getStability(false) < partsService.getStability(true)} ">
          > {{partsService.getStability(true).toFixed(0)}}
        </span>
      </p>
      <p class="sub">
        Balance: {{partsService.getStability(false) - partsService.getTotalWeight(false)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getStability(false) > partsService.getStability(true), 'blue-text': partsService.getStability(false) < partsService.getStability(true)} ">
          > {{partsService.getStability(true) - partsService.getTotalWeight(true)}}
        </span>
      </p>
      <p>
        Speed: {{partsService.getSpeed(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getSpeed(false) > partsService.getSpeed(true), 'blue-text': partsService.getSpeed(false) < partsService.getSpeed(true)} ">
          > {{partsService.getSpeed(true).toFixed(0)}}
        </span>
      </p>
      <p>
        Thrust: {{partsService.getThrust(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getThrust(false) > partsService.getThrust(true), 'blue-text': partsService.getThrust(false) < partsService.getThrust(true)} ">
          > {{partsService.getThrust(true).toFixed(0)}}
        </span>
      </p>
      <hr>
      <p>
        Head Armor: {{partsService.getHeadArmor(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getHeadArmor(false) > partsService.getHeadArmor(true), 'blue-text': partsService.getHeadArmor(false) < partsService.getHeadArmor(true)} ">
          > {{partsService.getHeadArmor(true).toFixed(0)}}
        </span>
      </p>
      <p>
        Core Armor: {{partsService.getCoreArmor(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getCoreArmor(false) > partsService.getCoreArmor(true), 'blue-text': partsService.getCoreArmor(false) < partsService.getCoreArmor(true)} ">
          > {{partsService.getCoreArmor(true).toFixed(0)}}
        </span>
      </p>
      <p>
        L Arm Armor: {{partsService.getLarmArmor(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getLarmArmor(false) > partsService.getLarmArmor(true), 'blue-text': partsService.getLarmArmor(false) < partsService.getLarmArmor(true)} ">
          > {{partsService.getLarmArmor(true).toFixed(0)}}
        </span>
      </p>
      <p>
        R Arm Armor: {{partsService.getRarmArmor(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getRarmArmor(false) > partsService.getRarmArmor(true), 'blue-text': partsService.getRarmArmor(false) < partsService.getRarmArmor(true)} ">
          > {{partsService.getRarmArmor(true).toFixed(0)}}
        </span>
      </p>
      <p>
        Leg Armor: {{partsService.getLegArmor(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getLegArmor(false) > partsService.getLegArmor(true), 'blue-text': partsService.getLegArmor(false) < partsService.getLegArmor(true)} ">
          > {{partsService.getLegArmor(true).toFixed(0)}}
        </span>
      </p>
      <hr>
      <p>Sensor Range: 100</p>
      <p>Sensor Strength: 100</p>
      <hr>
      <p>
        R Arm Weapon Damage: {{partsService.getRarmWeaponDamage(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getRarmWeaponDamage(false) > partsService.getRarmWeaponDamage(true), 'blue-text': partsService.getRarmWeaponDamage(false) < partsService.getRarmWeaponDamage(true)} ">
          > {{partsService.getRarmWeaponDamage(true).toFixed(0)}}
        </span>
      </p>
      <p class="sub">R Shoulder Weapon:</p>
      <p>
        L Arm Weapon Damage: {{partsService.getLarmWeaponDamage(false).toFixed(0)}}
        <span *ngIf="partsService.activeAndHoverParts.length > 0"
          [ngClass]="{'red-text': partsService.getLarmWeaponDamage(false) > partsService.getLarmWeaponDamage(true), 'blue-text': partsService.getLarmWeaponDamage(false) < partsService.getLarmWeaponDamage(true)} ">
          > {{partsService.getLarmWeaponDamage(true).toFixed(0)}}
        </span>
      </p>
      <p class="sub">L Shoulder Weapon:</p>
    </div>
  </div>

  <div class="container">
    <div class="stub">
      <button routerLink="/custom-part">Custom Parts Shop</button>
      <button routerLink="/make-model">Table of Manufacturer Makes and Models</button>
      <button routerLink="/part-catalog">Parts Catalog</button>
      <button routerLink="/set-compare">Sets Comparison</button>
      <br>
    </div>
  </div>

  <div class="container">
    <div class="dolly">
      <!-- <div [ngClass]="{'red-text': partsService.getLShoulderDamage(false)} " class="doll-slot lshoulder">L Shoulder</div> -->
      <!-- <div [ngClass]="{'red-text': partsService.getRShoulderDamage(false)} " class="doll-slot rshoulder">R Shoulder</div> -->
      <div [ngClass]="{'filled-doll': partsService.getHeadArmor(false)} " class="doll-slot head">Head</div>
      <div [ngClass]="{'filled-doll': partsService.getCoreArmor(false)} " class="doll-slot core">Core</div>
      <div [ngClass]="{'filled-doll': partsService.getLarmWeaponDamage(false)} " class="doll-slot larm">Left Arm</div>
      <div [ngClass]="{'filled-doll': partsService.getRarmWeaponDamage(false)} " class="doll-slot rarm">Right Arm</div>
      <div [ngClass]="{'filled-doll': partsService.getLegArmor(false)} " class="doll-slot legs">Legs</div>
    </div>
  </div>

  <div class="container">
    <div class="stub">
      <p *ngIf="!partsService.isMechaComplete()" style="color: red;">INCOMPLETE BUILD</p>
      <p *ngIf="partsService.getTotalPowerConsumption() > 0" style="color: red;">NOT ENOUGH POWER</p>
      <p *ngIf="partsService.getStability() < partsService.getTotalWeight()" style="color: red;">NOT ENOUGH STABILITY</p>
      <button [disabled]="!partsService.isMechaComplete()" mat-raised-button color="primary">Ready!</button>
    </div>
  </div>

</div>